@media screen {
    .content{
        display: flex;
        width: 846px;
    }
    .calculator{
        display: flex;
        flex-direction: column;
        width: 500px;
    }
    #consol{
        height: 16px;
        padding: 28px; 
        border: solid 1px black;
        border-radius: 4px;
        text-align: center;
    }
    .inp{
        display: grid;
        grid-template-columns: 640px 200px;
        gap: 6px;
    }
    
    
    #inpCal{
        border: solid 1px black;
        border-radius: 4px;
        height: 70px;
        text-align: center;
    }
    
    .buttons1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 80px;
        width: 640px;
        grid-gap: 4px;
        margin-bottom: 4px;
    }
    .buttons2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 80px;
        width: 640px;
        grid-gap: 4px;
        margin-bottom: 4px;
    }
    .buttons3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 80px;
        width: 640px;
        grid-gap: 4px;
        margin-bottom: 4px;
    }
    .buttons4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 80px;
        width: 640px;
        grid-gap: 4px;
    }
    .buttons0{
        margin-top: 4px;
        margin-bottom: 4px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 80px;
        width: 640px;
        grid-gap: 4px;
    }
    .scobki{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;
    }
    .deleteBl{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;
    }
}

@media (max-width: 940px) {
    .content{
        display: flex;
        width: 374px;
    }
    .calculator{
        display: flex;
        flex-direction: column;
        width: 500px;
    }
    #consol{
        height: 16px;
        padding: 22px; 
        border: solid 1px black;
        border-radius: 4px;
        text-align: center;
        font-size: 14px;
    }
    .inp{
        display: grid;
        grid-template-columns: 370px;
        gap: 6px;
    }
    
    
    #inpCal{
        border: solid 1px black;
        border-radius: 4px;
        height: 64px;
        text-align: center;
    }
    
    .buttons1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 50px;
        width: 370px;
        grid-gap: 4px;
        margin-bottom: 4px;
    }
    .buttons2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 50px;
        width: 370px;
        grid-gap: 4px;
        margin-bottom: 4px;
    }
    .buttons3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 50px;
        width: 370px;
        grid-gap: 4px;
        margin-bottom: 4px;
    }
    .buttons4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 50px;
        width: 370px;
        grid-gap: 4px;
    }
    .buttons0{
        margin-top: 4px;
        margin-bottom: 4px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 50px;
        width: 370px;
        grid-gap: 4px;
    }
    .scobki{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;
    }
    .deleteBl{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;
    }
}
